<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Gestão Peças</h1>

<div>
<%= link_to 'Modelos de Viaturas', modelos_path %>
</div>
<div>
<%= link_to 'Marcas', marcas_path %>
</div>
<div>
<%= link_to 'Tipos de Viaturas', tipo_viaturas_path %>
</div>
<div>
<%= link_to 'Família de Peças', familia_path %>
</div>
<div>
<%= link_to 'Fornecedores', fornecedors_path %>
</div>
