<%= form_for(@tipo_viatura) do |f| %>
  <% if @tipo_viatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_viatura.errors.count, "error") %> prohibited this tipo_viatura from being saved:</h2>

      <ul>
      <% @tipo_viatura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipoViatura %><br />
    <%= f.text_field :tipoViatura %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
